/* ------------------- */
/* RESET */
/* ------------------- */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#FFF1E6;
    font-family:"Special Elite", monospace;
    cursor:none;
}

/* ------------------- */
/* TIPOGRAFÍA */
/* ------------------- */

h1{
    font-family:"Alfa Slab One";
    font-size:110px;
    line-height:1;
    margin-bottom:25px;

    transition: color .3s ease;
}

h1:hover{
    color: #e98e73;
}

h3{
    font-family:"Josefin Slab";
    font-size:50px;
    font-weight:300;
    margin-bottom:15px;
}

p{
    font-size:16px;
    line-height:1.7;
}

/* ------------------- */
/* SECCIONES */
/* ------------------- */

section{
    max-width:1200px;
    margin:auto;
    padding:150px 40px;
}

/* ------------------- */
/* HERO */
/* ------------------- */

.hero p{
    max-width:650px;
}

/* ------------------- */
/* ABOUT */
/* ------------------- */

.about-text{
    max-width:900px;
}

.about p{
    max-width:700px;
}

.about-image{
    width:450px;
    max-width:100%;
    display:block;
    margin-left:auto;
    margin-top:60px;
}

/* ------------------- */
/* FEEDBACK */
/* ------------------- */

.experience p{
    max-width:700px;
}

/* ------------------- */
/* METHOD */
/* ------------------- */

.method p{
    max-width:700px;
}

/* ------------------- */
/* CONTACT */
/* ------------------- */

.contact-info{
    margin-top:70px;
}

.contact-info p{
    margin-bottom:18px;
}

.btn-linkedin{
    display:inline-block;
    margin-top:10px;
    padding:8px 14px;
    border:1px solid #ff3c00;
    color:#ff3c00;
    text-decoration:none;
    font-size:13px;
    transition:.25s;
}

.btn-linkedin:hover{
    background:#ff3c00;
    color:#FFF1E6;
}

/* ------------------- */
/* CURSOR */
/* ------------------- */

.cursor{
    position:fixed;
    width:14px;
    height:14px;
    background:#ff3c00;
    pointer-events:none;
    transform:translate(-50%,-50%);
    z-index:9999;
}

.cursor.active{
    transform:translate(-50%,-50%) scale(2);
}

/* ------------------- */
/* PUNTO PARPADEANTE */
/* ------------------- */

.blink{
    animation:blink 1s infinite;
}

@keyframes blink{

    0%,40%{
        opacity:1;
    }

    50%,100%{
        opacity:0;
    }

}

/* ------------------- */
/* RESPONSIVE */
/* ------------------- */

@media (max-width:900px){

    section{
        padding:80px 25px;
    }

    h1{
        font-size:60px;
        line-height:1.05;
    }

    h3{
        font-size:32px;
    }

    p{
        font-size:15px;
    }

    .about-image{
        margin:50px auto 0;
        width:100%;
        max-width:380px;
    }

}

@keyframes float{

    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-15px);
    }

    100%{
        transform: translateY(0);
    }

}

/* -------------------------- */
/* APARICIÓN AL HACER SCROLL */
/* -------------------------- */

.reveal{

    opacity:0;

    transform:translateY(40px);

    transition:
        opacity .8s ease,
        transform .8s ease;

}

.reveal.visible{

    opacity:1;

    transform:translateY(0);

}